.visi {
	background-color: #4963b0;
	padding: 30px;
	border-radius: 25px;
	border: 5px solid white !important;
	height: 380px;
}

.misi {
	background-color: #ff70a6;
	padding: 30px;
	border-radius: 25px;
	border: 5px solid white !important;
	height: 380px;
}
